* {
    margin: 0;
    padding: 0;
}

body {
    font: 14px/14px Myriad Pro, sans-serif;

}

.container {
    width: 500px;
    margin: 0 auto;
}

p {
    color: #3a3a3a;
}
h1 {
    font: bold 36px/36px Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 45px 0 25px;
}

h2 {
    margin-bottom: 20px;
}

.ava {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border: 1px solid #8f8f8f;
    margin-bottom: 20px;
}

img {
    display: inline-block;
    text-align: center;
}

.inf {
    border-top: 1px solid rgba(31, 31, 31, 0.2);
    margin-top: 15px;
    padding-top: 15px;
}

.inf:nth-child(2) h2:last-child {
    padding-top: 15px;
}
.student {
    font-family: Arial, sans-serif;
}

h2.vk {
    margin-top: 15px;
}

.content {
    margin-left: 40px;
    display: block;
}

a {
    color: blue;
    font-style: italic;
}